body {background-image: url("../img/inst.jpg"); background-size: 1600px 1000px ;background-position: 0mm -35mm;}
h1 {font-family: arial; color: rgb(255, 255, 255);}
a {font-family: arial; color: aquamarine;}