h1 {font-family: arial; color:rgb(153, 153, 187);}
body {background-attachment: fixed; background-image: url("../img/180sx.jpg");}
a {font-family: Arial; color: rgb(43, 255, 0);}
li {font-family: Arial; color: rgb(0, 255, 242);}
q {font-family: Arial; color: rgb(255, 255, 255);}